*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    border-bottom: .2rem solid rgb(233, 231, 231);
}

/* logo */
header svg
{
    margin-left: 1rem;
}

/* search bar */
header .search_bar
{
    display: flex;
    border: .2rem solid rgb(233, 231, 231);
    border-radius: .5rem;
    padding: .3rem;
    width:20rem;
}
header .search_bar svg
{
    margin: 0;
    width: 1.5rem;
}
header .search_bar input
{
    width:100%;
    border: none;
    outline: none;
    margin-left: .3rem;
}
/* nav bar */
.menu
{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #4d4c59;
    cursor: pointer;
}
.menu a
{
    margin-left: 2rem;
    font-size: .8rem;
    
}
.menu svg
{
    fill: #4d4c59;
    width: 1.5rem;
    margin-right: 1rem;
}
.menu .bell
{
    fill: red;
}

/* main */
.container
{
    display: flex;
}

/* filter */
.nav_filters
{
    width: 24%;
}
.primary_filter
{
    display: flex;
    justify-content: space-between;
    margin: 1rem 4rem;
    cursor: pointer;
}
.underline
{
    background: rgb(241, 1, 1);
    width:110%;
    height:.18rem;
}

form
{
    margin-left: 1.6rem;
    color: #4d4c59;
}
form h5
{
    font-weight: 500;
    color: black;
}
.container_localization
{
    margin-top: 3rem;
}
.localization
{
    display: flex;
    align-items: center;
    border: .2rem solid rgb(233, 231, 231);
    border-radius: .5rem;
    padding: .3rem;
    width:17rem;
    margin-top: 1rem;
}
.localization #localization
{
    width: 85%;
    border: none;
    outline: none;
    
    margin-left: .3rem;
}
.localization svg
{
    fill: #4d4c59;
}

/* brand */
.container_brand
{
    margin-top: 1rem;
}
.brand
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1rem;
}
.brand select
{
    border: none;
    outline: none;
    padding: .4rem;
    background:none;
}
.brand_car
{
    border: .2rem solid rgb(233, 231, 231);
    border-radius: .5rem;
    margin-top: .5rem;
}

/* car state */
.car_state
{
    margin: 1rem 0;
}
.car_state h5
{
    margin-bottom: .5rem;
}
.car_state label
{
    margin-right: 1rem;
}

/* car age */
#car_year
{
    margin: 1rem 0;
    display: flex;
    align-items:center;
}
.car_year input
{
    width: 5rem;
    border: .2rem solid rgb(233, 231, 231);
    border-radius: .5rem;
    padding: .3rem;
}
.car_year label
{
    margin-left :  0 .3rem;
    margin-right: .5rem;
}

/* price range */

#price_range
{
    margin: 1rem 0;
    display: flex;
    align-items:center;
}
.price_range input
{
    width: 5rem;
    border: .2rem solid rgb(233, 231, 231);
    border-radius: .5rem;
    padding: .3rem;
}
.price_range label
{
    margin-left :  0 .3rem;
    margin-right: .5rem;
}

/* show all cars through filters */

.result
{
    height: 3rem;
}
.show_result
{
    width: 76%;

    height: 100%;
    background-color: rgb(233, 231, 231);
    position: absolute;
    
}


/* scroll style */

/* width */
::-webkit-scrollbar {
    width: 10px;
 }
  
  /* Track */
  ::-webkit-scrollbar-track {
      opacity: 0;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    height:50px;
    background: rgb(192, 192, 192); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(155, 154, 154); 
  }